# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Idea项目\exOne\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
